.nav_lef{
  
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}
.nav_container{
  display: flex;
}
.search_box {
  margin-left: 400px;
  display: flex;
  border-radius:5 ;
}
.search_box > input:hover{
  color: aquamarine;
}
.search_box > input{
  border:none;
  border-radius: 5px;
  width: 500px;
  outline-width: 0;
}
.nav_right{
  display: flex;
  align-items: center;
  margin-left: 600px;
}
